@media only screen and (max-width: 600px) {
   #credo, .credoMobile {
       display: block;
   }

   #desk {
       display: none;
   }

   .fullscreenColorBackground{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aliceblue;
        width : 100vw;
        height: 100vh;
    }

    .credoNav{
        width : 100%;
        display : flex;
        justify-content : space-between;
        align-items : center;
        padding: 1rem;
        background-color : lightblue;
    }

    .portfoliosSlide{
        width: 100%;
        overflow-x: scroll;
        display: -webkit-box !important;
        flex-wrap: nowrap !important;
        padding: 1.5rem;
    }

    .funds .item{
        padding-top : 1.5rem !important;
        padding-bottom : 1.5rem !important;
    }

}

@media only screen and (min-width: 768px) {
    #credo {
        display: none;
    }

    #desk {
        display: block;
    }
  }


  