<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Credo</title>
    <link rel="stylesheet" href="../vendor/semantic/semantic.css">
    <link rel="stylesheet" href="../css/credo.css">
    <script src="../vendor/jquery/jquery-3.1.1.min.js"></script>
    <script src="../vendor/semantic/semantic.min.js"></script>

</head>

<body>

    <section id="investmentProductPage">
            <div class="ui info message">
                    <i class="close icon"></i>
                    <div class="header">
                      {{id}} is currently under development. Stay tuned. Features to come are listed below.
                    </div>
                    <ul class="list">
                      <li>View product pages of each investment fund.</li>
                      <li>Deposit and withdrawal</li>
                      <li>Financial statistics</li>
                      <li>Transactions</li>
                      <li>Migration of funds from savings to other investments</li>
                    </ul>
                  </div>
    </section>




    <section id="desk">
        <p>Please view this on your phone. Thanks</p>
    </section>


    <script src="../vendor/vuejs/vue.js"></script>
    <script src="../js/credo.js"></script>

</body>

</html>